<!DOCTYPE html>
<html lang="sv">

<head>
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="javascript.js" defer></script>
    <link rel="stylesheet" href="myStylesheet.css" />
    <title>TrädgårdsHjälpen</title>
    <meta charset="utf-8" />
    <script src="//code.jquery.com/jquery-latest.min.js"></script>
    <!-- <script src="jquery-3.6.0.min.js"></script> -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">

</head>


<body>
    <div id="app">


        <div id="header">
            <div class="grassContainer">
                <img class="grass" src="bilder/newgrass.jpg" alt="gräs">
                <img class="grass" src="bilder/newgrass.jpg" alt="gräs">
                <img class="grass" src="bilder/newgrass.jpg" alt="gräs">
                <img class="grass" src="bilder/newgrass.jpg" alt="gräs">
                <img class="grass" src="bilder/newgrass.jpg" alt="gräs">
                <img class="grass" src="bilder/newgrass.jpg" alt="gräs">
                <img class="grass" src="bilder/newgrass.jpg" alt="gräs">
                <img class="grass" src="bilder/newgrass.jpg" alt="gräs">
                <img class="grass" src="bilder/newgrass.jpg" alt="gräs">
                <img class="grass" src="bilder/newgrass.jpg" alt="gräs">

            </div>
            <h2><span style="background-color:#BBEBB6; padding:3px">Trädgårds</span><span
                    style="border: solid #BBEBB6">hjälpen</span></h2>
            <div class="hamburger">
                <div class="hamburgerFlex">
                    <i @click="visaMeny =! visaMeny" class="bi bi-list"></i>
                    <div class="cart" @click="showCart =!showCart">
                        <i class="bi bi-cart2"></i>
                        <div class="cartAmount">{{cart.length}}</div>
                        <div v-if="showCart" class="cartDropDown">
                            <ul class="cartDropDown2">
                                <li v-for="c in cart" :key="cart.name">
                                    {{c.namn}}
                                    <img v-bind:src="c.image" />
                                </li>
                                <p>
                                    Summa: {{totalSum}} kr
                                </p>
                                <div>
                                    <button id="kassaKnapp" @click="removeItemToCart()"> Rensa Varukorg</button>

                                    <a id="bLink" href="kassa.html">
                                        <button id="kassaKnapp" @click="test1()"> Gå till kassan</button>
                                    </a>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="meny">
                    <div v-if="visaMeny" id="mobilMeny">
                        <span class="content" onclick="smoothScrollTjanster()">Tjänster</span>
                        <span class="content" onclick="smoothScrollMedarbetare()">Våra medarbetare</span>
                        <span class="content" onclick="smoothScrollBeskrivning()">Beskrivning</span>
                    </div>
                </div>

            </div>
            <div class="second-header">
                <p class="webContent" onclick="smoothScrollMedarbetare()">Våra medarbetare</p>
                <p class="webContent" onclick="smoothScrollBeskrivning()">Beskrivning</p>
                <p class="webContent" onclick="smoothScrollTjanster()">Tjänster </p>
                <div>
                    <div class="cart" @click="showCart =!showCart">
                        <i class="bi bi-cart2"></i>
                        <div class="cartAmount">{{cart.length}}</div>
                        <div v-if="showCart" class="cartDropDown">
                            <ul class="cartDropDown2">
                                <li v-for="c in cart" :key="cart.name">
                                    {{c.namn}}
                                    <img v-bind:src="c.image" />
                                </li>
                                <p>
                                    Summa: {{totalSum}} kr
                                </p>
                                <div>
                                    <button id="kassaKnapp" @click="removeItemToCart()"> Rensa Varukorg</button>

                                    <a id="bLink" href="kassa.html">
                                        <button id="kassaKnapp" @click="test1()"> Gå till kassan</button>
                                    </a>
                                </div>
                            </ul>
                        </div>
                    </div>

                    <!-- RESPONSIV DESIGN -->




                </div>
            </div>
        </div>


        <div class="body-content">
            <div id="bytBild1"> <img src="bilder/arrow.png" alt="pil"></div>
            <div id="bytBild2"> <img src="bilder/arrow.png" alt="pil"></div>

            <div class="nice-picture enSlide fade">
                <img src="bilder/big_garden.webp" alt="garden" class="gallery__img" />
            </div>
            <div class="nice-picture enSlide fade">
                <img src="bilder/trädgårdsskötsel3.jpg" alt="trädgård" class="gallery__img" />
            </div>
            <div class="nice-picture enSlide fade">
                <img src="bilder/trädgårdsskötsel4.jpg" alt="trädgård" class="gallery__img" />
            </div>
            <div class="nice-picture enSlide fade">
                <img src="bilder/tradgardsskotsel.jpg" alt="trädgård" class="gallery__img" />
            </div>

            <div class="presentation">

                <div class="presentation-bild">
                    <img src="bilder/arvid.jpg" alt="arvidbild" />
                    <p><a href=""></a>Arvid Eriksson</p>
                </div>
                <div class="presentation-text">
                    <h3>"Jag älskar välskötta trädgårdar!"</h3>
                    <div class="beskrivningstext">
                        <p>Jag startade för ett par år sedan ett eget företag inom trädgårsskötsel.</p>
                        <p>De senaste åren har mitt företag växt så pass mycket att jag kan jobba</p>
                        <p>med det på heltid, samt anställa ett par medarbetare.</p>
                    </div>

                </div>
            </div>

            <div class="containerRight revealRight">
                <div class="tradgardsbild">
                    <img src="bilder/trädgårdsskötsel1.jpg" alt="trädgård" class="gallery__img">
                </div>
                <div class="tradgardsbild">
                    <img src="bilder/trädgårdsskötsel2.webp" alt="trädgård" class="gallery__img">

                </div>
            </div>
            <div class="containerLeft revealLeft">
                <div class="tradgardsbild">
                    <img src="bilder/trädgårdsskötsel3.jpg" alt="trädgård" class="gallery__img">

                </div>
                <div class="tradgardsbild">
                    <img src="bilder/trädgårdsskötsel4.jpg" alt="trädgård" class="gallery__img">

                </div>
            </div>


            <div class="gruppmedlemmarContainer">
                <h1>Våra medarbetare</h1>
                <div class="gruppmedlemmar">
                    <div class="medlem" v-for="anstalld in medarbetare" :key="anstalld.name">
                        <div class="bild">
                            <img onmouseenter="imgMouseEnter(this)" onmouseleave="imgMouseLeave(this)"
                                id="arvidProfilbild" class="profilbild" v-bind:src="anstalld.bild" alt="anstalld">
                            <div id="textRuta" class="namnText"><a
                                    v-bind:href="anstalld.sida">{{anstalld.namn}}<br>{{anstalld.roll}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="tjanster-container">
                <h1 class="headerTjanster">Våra tjänster</h1>
                <div class="tjanst tjanstNy" v-for="product in products" :key="product.name">
                    <div class="vattna">{{product.namn}}</div>
                    <img :src="product.image" alt="plant" class="tjanst-symbol" />
                    <div>{{product.cost}} svenska riksdaler</div>
                    <p class="tjanst-beskrivning">{{product.beskrivning}} </p>
                    <button id="kopButton" @click="addItemToCart(product); test3()"> Lägg i varukorgen</button>
                </div>
            </div>



            <div class="tKunder">
                <div class="tjanst-titel">
                    <h3>Tidigare kunder</h2>
                </div>
                <div class="tableContainer">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Address</th>
                                <th scope="col">City</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="user, index in lista2">
                                <th scope="row">{{ index + 1 }}</th>
                                <td>{{ user.name }}</td>
                                <td>{{ user.email.toLowerCase() }}</td>
                                <td>{{ user.address.street }}, {{user.address.suite }}</td>
                                <td>{{ user.address.city }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>






    </div>

    <div class="footer">
        <div class="footercolumn_inner">
            <img class="footer_bild" src="bilder/tallincbild.png" alt="footerbild">
        </div>
        <div class="footercolumn_inner">
            <div class="columnTitel">
                <strong><a href="kontakt.html"> Kontakta oss</a></strong>
                <ul>
                    <li>Åstadalsvägen 1E</li>
                    <li>702 21 Örebro</li>
                    <li>info@tradgardshjalpen.se</li>
                    <li>076 - 058 98 05</li>
                </ul>
            </div>
        </div>
        <div class="footercolumn_inner">
            <div class="columnTitel">
                <strong>Om Trädgårdshjälpen</strong>
                <ul>
                    <li>
                        <p class="webContent" onclick="smoothScrollMedarbetare()">Om oss</p>
                    </li>
                    <br>
                    <li>
                        <p class="webContent" onclick="smoothScrollTjanster()">Tjänster</p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="footercolumn_inner">
            <img class="footer_bild" src="bilder/tgthjälpen.png" alt="footerbild">

        </div>



    </div>

    </div>





</body>

</html>