.wbar1 {
    width: 15%;
    animation-name: slideinBars1;
}

.wbar2 {
    width: 25%;
    animation-name: slideinBars2;

}

.wbar3 {
    width: 95%;
    animation-name: slideinBars3;

}

.wbar4 {
    width: 55%;
    animation-name: slideinBars4;

}

.wbar5 {
    width: 10%;
    animation-name: slideinBars5;

}

.obar1{
    width: 60%;
    animation-name: slideinBars1;
}
.obar2{
    width: 40%;
    animation-name: slideinBars2;
}
.obar3{
    width: 67%;
    animation-name: slideinBars3;
}
.obar4{
    width: 95%;
    animation-name: slideinBars4;

}
.obar5{
    width: 10%;
    animation-name: slideinBars5;
}

.bar1 {
    width: 60%;
    animation-name: slideinBars1;
}

.bar2 {
    width: 40%;
    animation-name: slideinBars2;

}

.bar3 {
    width: 67%;
    animation-name: slideinBars3;

}

.bar4 {
    width: 95%;
    animation-name: slideinBars4;

}

.bar5 {
    width: 10%;
    animation-name: slideinBars5;
}

@keyframes slideinBars1 {
    from {
        width: 0px;
    }

    to {
        width: 60%
    }
}

@keyframes slideinBars2 {
    from {
        width: 0px;
    }

    to {
        width: 40%;
    }
}

@keyframes slideinBars3 {
    from {
        width: 0px;
    }

    to {
        width: 67%;
    }
}

@keyframes slideinBars4 {
    from {
        width: 0px;
    }

    to {
        width: 95%;
    }
}

@keyframes slideinBars5 {
    from {
        width: 0px;
    }

    to {
        width: 10%;
    }}