body {
    background-image: url(bilder/leaves.webp);
    margin: 0;
    margin-top: -20px;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Roboto Condensed', sans-serif;


}

#header {
    top: 0;
    text-align: center;
    width: 100%;
    margin: auto;
    background-color: white;
    position: fixed;
    z-index: 100;
    font-size: 19px;
    transition: 1s;
    padding-bottom: 20px;
}

#header.hide {
    top: -200px;
}

.headerMedlemsida {
    box-shadow: -4px 16px 23px -7px #000000;

}

.grassContainer {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 35px;
}

.grass {

    left: 0;
    bottom: 0;
    height: 35px;
}

.second-header {
    width: 100%;
    background-color: #BBEBB6;
    position: fixed;
    box-shadow: -4px 16px 23px -7px #000000;
    z-index: 99;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;


}




.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}


.secondHeaderMedlemsida {
    font-size: 0;
    padding: 20px;
}

.webContent {
    cursor: pointer;
}

.body-content {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(34, 100px);
    grid-column-gap: 10px;
    grid-row-gap: 0px;

}

#bytBild{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    z-index: 99;
    cursor: pointer;

}
.nice-picture {
    background-color: green;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    margin-top: 50px;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 8;

}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.gruppmedlemmarContainer {
    border-bottom:thick solid #BBEBB6;
    box-shadow: -1px 2px 31px 4px rgba(0, 0, 0, 0.71);

    scroll-margin-top: 150px;
    grid-row-start: 13;
    grid-row-end: 19;
    grid-column-start: 1;
    grid-column-end: 7;
    background-color: white;
    object-fit: cover;
    display: flex;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.gruppmedlemmarContainer h1{
    font-size:3rem;
    font-weight:bolder;
}

.gruppmedlemmar {
    display: flex;
    justify-content: space-evenly;
}

.medlem {
    margin: auto;
    width: 20%;
    height: 80%;
    background-color: white;
    text-align: center;
    word-wrap: break-word;
    box-shadow: -1px 2px 31px 4px rgba(0, 0, 0, 0.71);

}

.bild {
    margin: auto;
    background-color: #BBEBB6;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.profilbild {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: .5s ease;
    opacity: 1;

}


.profilbildBlur {
    opacity: 0.4;
    transition: .5s ease;
}

.namnText {
    opacity: 0;
    position: absolute;
    background-color: #BBEBB6;
    font-size: 16px;
    padding: 16px 32px;
    transition: .5s ease;
    cursor: pointer;

}

.namnText a {
    text-decoration: none;
    color: black !important;

}

.namnTextOpacity {
    transition: .5s ease;

    opacity: 1;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    margin: auto;
    height: 100px;
    width: 200px;
    background-color: white;
    font-size: 20px;
}

.presentation {
    scroll-margin-top: 150px;
    border-left: thin solid #C2E500;
    border-right: thin solid #C2E500;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 6;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 50px;
    text-align: center;
    z-index: 99;

}

.beskrivningstext {
    height: 400px;
}

.presentation-bild {
    padding-left: 30px;


}

.presentation-bild img {
    height: 200px;
}

.containerRight {
    grid-row-start: 7;
    grid-row-end: 10;
    grid-column-start: 1;
    grid-column-end: 7;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.containerLeft {
    grid-row-start: 10;
    grid-row-end: 13;
    grid-column-start: 1;
    grid-column-end: 7;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.tjanster-container {
    border-top:thick solid #BBEBB6;
    border-bottom:thick solid #BBEBB6;
    box-shadow: -1px 2px 31px 4px rgba(0, 0, 0, 0.71);

    scroll-margin-top: 150px;
    grid-row-start: 20;
    grid-row-end: 24;
    grid-column-start: 1;
    grid-column-end: 7;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    object-fit: cover;
    border-left: thin solid #C2E500;
    border-right: thin solid #C2E500;


}

.tjanst-titel {
    text-align: center;
    font-size: 20px;
    grid-column-start: 3;
    grid-column-end: 7;

}

.tjanst-beskrivning {
    padding: 3%;
}

.tjanst-symbol {
    width: 20%;
    height: 20%;

}


.tjanst {
    grid-row-start: 2;
    grid-row-end: 7;
}

.tjanst1 {

    grid-column-start: 1;
    grid-column-end: 3;
    border-right: thin solid #BBEBB6;
    text-align: center;


}

.tjanst2 {

    grid-column-start: 3;
    grid-column-end: 5;
    border-right: thin solid #BBEBB6;
    text-align: center;




}

.tjanst3 {
    grid-column-start: 5;
    grid-column-end: 7;
    border-right: thin solid #BBEBB6;
    text-align: center;



}

.tjanst4 {
    grid-column-start: 7;
    grid-column-end: 9;
    text-align: center;



}



.bildspelContainer {
    grid-row-start: 17;
    grid-row-end: 20;
    grid-column-start: 2;
    grid-column-end: 6;
    background-color: white;
    border-left: thin solid #C2E500;
    border-right: thin solid #C2E500;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.enSlide {
    animation: 4s;
    display: none;
}

.bildspelContainer img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.fade {
    animation-name: fade;
    animation-duration: 3s all ease;
}

@keyframes fade {
    from {
        opacity: 0.6
    }

    to {
        opacity: 1
    }
}

#bild3 img {
    vertical-align: middle;
    width: 100%;
    top: 0;

}



#header-effects {
    grid-column-start: 5;
    grid-column-end: 10;
    text-align: center;
    width: 100%;
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-start: 2;

}

.arrow:hover {
    cursor: pointer;
}

.second-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 11;
    grid-column-start: 12;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.second-arrow:hover {
    cursor: pointer;
}

.arrow-img {
    width: 50%;
    height: 50%;
}



@keyframes mymove {
    from {
        left: 0px;
    }

    to {
        left: 200px;
    }
}






.active {
    visibility: visible;

}

.progress {
    visibility: hidden;
    object-fit: cover;
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 8;

}

.active2 {
    visibility: visible;
    transform: translateZ(0);
    transition: 2s all ease;
}

.progress2 {
    visibility: hidden;
    grid-row-start: 2;
    object-fit: cover;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 8;

}



.valjTjansterContainer {
    scroll-margin-top: 150px;
    grid-row-start: 21;
    grid-row-end: 25;
    grid-column-start: 2;
    grid-column-end: 6;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-left: thin solid #C2E500;
    border-right: thin solid #C2E500;
    height: 80%;




}

.checkContainer {
    height: 80%;
    width: 50%;
    padding-top: 20px;
}

.confirmContainer {
    border: solid #eff4d1;
    height: 80%;
    width: 50%;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 5px;

    margin-right: 3%;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#checkboxHeader {
    padding-left: 30px;


}

.checkboxContainer {
    padding-left: 30px;
    display: flex;
    flex-direction: row;
}

.summeradText {
    display: flex;
    flex-direction: row;


}

label {
    display: inline-block;
    width: 100px;
}

#btn {
    background-color: #C2E500;
    /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}


.button1:hover {
    background-color: white;
    color: white;
}



.revealLeft {
    position: relative;
    transform: translateX(-150px);
    opacity: 0;
    transition: 0.25s all ease;
}

.revealLeft.active {
    transform: translateX(0);
    opacity: 1;
}

.revealRight {
    position: relative;
    transform: translateX(150px);
    opacity: 0;
    transition: 0.25s all ease;
    background-color: green;
}

.revealRight.active {
    transform: translateX(0);
    opacity: 1;
}

/* -------profilstylesheet------- */

.arvidsBody {
    margin-top: 15% !important;
    grid-template-columns: repeat(6, 1fr) !important;
    grid-template-rows: repeat(4, 1fr) !important;
    grid-column-gap: 10px;
    grid-row-gap: 30px;
    max-height: 100%;

}

.personligHeader {
    border-bottom: thick solid #BBEBB6;

}

#profilbildPre {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
    float: left;
    animation-duration: 2s;
    animation-name: slidein;
    margin-left: 30%;
    z-index: 99;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

}

#riktigProfilbild {
    width: 100%;
    height: 90%;
    margin-top: 7%;
    object-fit: cover;
    display: block;
    box-shadow: -1px 2px 31px 4px rgba(0, 0, 0, 0.71);

}

.background {
    border-top: thick solid #BBEBB6;
    background-color: white;
    width: 100%;

    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 5;
    border-bottom: thick solid #BBEBB6;

}

@keyframes slidein {
    from {
        margin-left: -100%;
    }

    to {
        margin-left: 30%;
    }
}

#skillContainer {
    z-index: 99;
    background-color: #BBEBB6;
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 4;
    grid-column-end: 6;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding-left: 15%;
}

#skillsHeader {
    font-size: xx-large;

    width: 100%;
}

.fardigheterText {
    font-weight: bold;
    margin-bottom: 1%;
}


    
.kontaktBody{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(24, 100px);
    grid-column-gap: 10px;
    grid-row-gap: 30px;

}
.kontaktTitel{
    margin-top: 100px;
  font-size: 30px;
  color: blue;
  font-weight: bold;
}




.cart{
    position: relative;
    background-color: #fff;
    color: #000000;
    font-size: 25px;
    padding: 5px;
    border-radius: 4px ;
    /* margin-bottom: 7px;
    margin-top: 7px; */
    margin: 1rem;
    
}

.cartAmount{
    position: absolute;
    top: -10px;
    right: -6px;
    font-size: small;
    background-color: red;
    color: white;
    padding: 3px;
    border-radius: 3px;

    /* border: solid black; */

}
.grid-container{
  display: grid;
  height: 400px;
  align-content: center;  

}